/* Tokyo Night Dark palette */

/* Backgrounds */
@define-color bg           #1a1b26;
@define-color bg_dark      #16161e;
@define-color bg_highlight #292e42;
@define-color bg_popup     #1f2335;

/* Foregrounds */
@define-color fg           #c0caf5;
@define-color fg_dark      #a9b1d6;
@define-color fg_gutter    #3b4261;
@define-color comment      #565f89;
@define-color dark3        #545c7e;

/* Colors */
@define-color red          #f7768e;
@define-color orange       #ff9e64;
@define-color yellow       #e0af68;
@define-color green        #9ece6a;
@define-color teal         #73daca;
@define-color cyan         #7dcfff;
@define-color blue         #7aa2f7;
@define-color purple       #bb9af7;
@define-color magenta      #9d7cd8;

/* These styles will apply to everything */
* {
  font-family: CaskaydiaCove Nerd Font;
  font-size: 13px;

  color: @fg;

  border-radius: 10px;
}

/* Waybar transparent BG */
window#waybar {
  background-color: transparent;

  transition-property: background-color;
  transition-duration: .5s;
}
window#waybar.hidden {
  opacity: 0.2;
}
window#waybar.empty #window {
  background: transparent;
  border:     none;
}

/* General settings for all modules */
#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-launcher,
#custom-numlock,
#custom-power,
#disk,
#idle_inhibitor,
#language,
#memory,
#mode,
#mpris,
#network,
#power-profiles-daemon,
#pulseaudio,
#temperature,
#tray,
#window,
#wireplumber
{
  padding:    0 10px;
  background: @bg;
  border:     2px solid @fg;

  transition: background 0.2s ease;
}
#keyboard-state {
  padding: 0;
  background: @bg;

  transition: background 0.2s ease;
}

#backlight:hover,
#battery:hover,
#bluetooth:hover,
#clock:hover,
#cpu:hover,
#custom-launcher:hover,
#custom-numlock:hover,
#custom-power:hover,
#disk:hover,
#idle_inhibitor:hover,
#keyboard-state:hover,
#language:hover,
#memory:hover,
#mode:hover,
#mpris:hover,
#network:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#temperature:hover,
#window:hover,
#wireplumber:hover
{
  background: @bg_highlight;
}

/* Margins */

/* Left */
#cpu,
#custom-numlock,
#backlight,
#network,
#custom-power
{
  margin-left: 3px;
}

/* Right */
#custom-launcher,
#idle_inhibitor,
#language,
#wireplumber,
#battery
{
  margin-right: 3px;
}

/* Both */
#workspaces,
#clock,
#tray
{
  margin: 0 3px;
}

/* Hyprland submap settings */
#mode {
  background-color: @bg;
}

/* General style for buttons */
button {
  padding:    0 8px;
  margin:     0 2px;
  min-width:  18px;
  min-height: 0;

  border: 2px solid @fg;
  background-color: @bg;
}
button:hover {
  background: @bg_highlight;
}

/* TOP BAR */

/* LEFT */

#custom-launcher {
  padding-left:  7px;
  padding-right: 11px;

  font-size: 16px;

  color:        @cyan;
  border-color: @cyan;
}

#workspaces button {
  padding-left:  6px;
  padding-right: 3px;
}
#workspaces button:hover {
  background: @bg_highlight;
}

#workspaces button.empty {
  border-color: @comment;
}
#workspaces button.empty label {
  color: @comment;
}

#workspaces button.active {
  border-color: @teal;
}
#workspaces button.active label {
  color: @teal;
}

#workspaces button.urgent {
  border-color: @red;
}

#cpu {
  padding-left: 6px;
  color:        @purple;
  border-color: @purple;
}

#memory {
  padding-left:  6px;
  padding-right: 12px;
  color:         @green;
  border-color:  @green;
}

#disk {
  padding-left: 6px;
  color:        @blue;
  border-color: @blue;
}

#temperature {
  padding-left: 6px;
  color:        @orange;
  border-color: @orange;
}
#temperature.critical {
  color:        @red;
  border-color: @red;
}

/* CENTER */

#clock {
  color:        @cyan;
  border-color: @cyan;

  padding: 4px 4px;
}

/* RIGHT */

#idle_inhibitor {
  padding: 0 6px 0 7px;
}
#idle_inhibitor.activated {
  color:        @green;
  border-color: @green;
}

#tray {
  background-color: @bg;
  color:            @blue;
  border: 2px solid @blue;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @orange;
}

#custom-numlock {
  padding: 0 4px 0;
}
#custom-numlock.locked {
  color:        @orange;
  border-color: @orange;
}

#language {
  color:        @purple;
  border-color: @purple;
  padding:      0 6px 0;
}

#backlight {
  color:         @fg_dark;
  border-color:  @fg_dark;
  padding-left:  6px;
  padding-right: 8px;
}

/* Audio */
#wireplumber {
  color:         @yellow;
  border-color:  @yellow;
  padding-left:  6px;
  padding-right: 13px;
}
#wireplumber.muted {
  color:         @red;
  border-color:  @red;
  padding-left:  8px;
  padding-right: 12px;
}

#network {
  padding-left:  6px;
  padding-right: 3px;

  color:        @cyan;
  border-color: @cyan;
}
#network.ethernet {
  padding-left:  8px;
  padding-right: 2px;
}
#network.disconnected {
  padding-left:  7px;
  padding-right: 3px;

  color:        @red;
  border-color: @red;
}
#network.disabled {
  padding-left:  8px;
  padding-right: 2px;

  color:        @red;
  border-color: @red;
}

#bluetooth {
  font-size: 18px;

  padding-left:  9px;
  padding-right: 9px;
}
#bluetooth.connected {
  color:        @cyan;
  border-color: @cyan;
  padding-left:  8px;
  padding-right: 10px;
}

#battery {
  color:        @blue;
  border-color: @blue;
  padding: 0 12px 0 8px;
}
#battery.charging,
#battery.plugged {
  color:        @teal;
  border-color: @teal;
  padding: 0 9px 0 8px;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  color:        @red;
  border-color: @red;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction:       alternate;
}
@keyframes blink {
  to {
    color:        @fg;
    border-color: @fg;
  }
}

#custom-power {
  font-size:     14px;
  padding-left:  8px;
  padding-right: 11px;
  margin-right:  0px;

  color:        @red;
  border-color: @red;
}

menu {
  padding:   4px;
  font-size: 20px;
}

menu menuitem {
  padding:    4px 0px;
  min-height: 0;
}

menu menuitem check,
menu menuitem radio {
  margin:     0;
  min-width:  0;
  min-height: 0;
}

menu separator {
  margin: 3px 10px;
}

/* LOWER BAR */

/* LEFT */

window#waybar.bottom-bar #window {
  min-width: 20px;
}
#window {
  border-color: @magenta;
}
#window label {
  color: @magenta;
}

/* RIGHT */

window#waybar.bottom-bar #mpris {
}
#mpris {
  color:        @fg;
  border-color: @fg;
}
#mpris.playing {
  color:        @green;
  border-color: @green;
}
#mpris.paused {
  color:        @blue;
  border-color: @blue;
}
#mpris.stopped {
  color:        @fg;
  border-color: @fg;
}

/* Disabled modules */

/*
#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}
#mpd.disconnected {
  background-color: #f53c3c;
}
#mpd.stopped {
  background-color: #90b1b1;
}
#mpd.paused {
  background-color: #51a37a;
}
*/

/*
#privacy {
  padding: 0;
}
#privacy-item {
  padding: 0 5px;
  color: white;
}
#privacy-item.screenshare {
  background-color: #cf5700;
}
#privacy-item.audio-in {
  background-color: #1ca000;
}
#privacy-item.audio-out {
  background-color: #0069d4;
}
*/
