/*
  Style by alchem1no
  https://github.com/alchem1no
*/

/* Root Variables */
:root {
    --yasb-bar-bg:          rgba(26, 27, 38, 0);
    /* --yasb-bar-bg:          rgba(26, 27, 38, 0.85); */
    /* --yasb-surface-alt:     rgba(41, 46, 66, 0); */
    --yasb-surface-alt:     rgb(50, 53, 68);
    /* --yasb-bar-border:      rgba(59, 66, 97, 0); */
    --yasb-bar-border:      rgb(59, 66, 97);

    --yasb-popup-bg:        rgba(26, 27, 38, 0.90);
    --yasb-dialog-bg:       rgb(36, 40, 59);
    --yasb-dialog-surface:  rgb(31, 35, 53);

    --yasb-white-alpha-03:  rgba(255, 255, 255, 0.03);
    --yasb-white-alpha-04:  rgba(255, 255, 255, 0.04);
    --yasb-white-alpha-05:  rgba(255, 255, 255, 0.05);
    --yasb-white-alpha-06:  rgba(255, 255, 255, 0.06);
    --yasb-white-alpha-07:  rgba(255, 255, 255, 0.07);
    --yasb-white-alpha-08:  rgba(255, 255, 255, 0.08);
    --yasb-white-alpha-10:  rgba(255, 255, 255, 0.10);
    --yasb-white-alpha-15:  rgba(255, 255, 255, 0.15);
    --yasb-white-alpha-20:  rgba(255, 255, 255, 0.20);
    --yasb-white-alpha-30:  rgba(255, 255, 255, 0.30);
    --yasb-white-alpha-40:  rgba(255, 255, 255, 0.40);
    --yasb-white-alpha-70:  rgba(255, 255, 255, 0.70);
    --yasb-white-alpha-80:  rgba(255, 255, 255, 0.80);
    --yasb-white-alpha-85:  rgba(255, 255, 255, 0.85);

    --yasb-fg:              rgba(192, 202, 245, 0.95);
    --yasb-fg-muted:        rgb(86, 95, 137);
    --yasb-icon-fg:         rgba(192, 202, 245, 0.95);

    --yasb-tooltip-bg:      rgba(26, 27, 38, 0.95);
    --yasb-tooltip-border:  rgb(59, 66, 97);

    --yasb-accent:          rgb(187, 154, 247);
    --yasb-accent-hover:    rgb(198, 168, 255);
    --yasb-accent-fg:       rgb(26, 27, 38);

    /* Tokyo night colors */
    --tn-red:            #f7768e;
    --tn-green:          #9ece6a;
    --tn-cyan:           #7dcfff;
    --tn-fg_dark:        #a9b1d6;
    --tn-orange:         #ff9e64;
    --tn-green1:         #73daca;
    --tn-blue:           #7aa2f7;
    --tn-fg-grey:        #9aa5ce;
    --tn-yellow:         #e0af68;
    --tn-blue6:          #b4f9f8;
    --tn-purple:         #bb9af7;
    --tn-magenta:        #bb9af7;
    --tn-comment:        #565f89;
    --tn-terminal-white: #cfc9c2;
    --tn-blue1:          #2ac3de;
    --tn-teal:           #4fd6be;
    --tn-fg:             #c0caf5;
    --tn-terminal_black: #414868;

    --tn-bg:             #1a1b26;
    --tn-bg-dark:        #16161e;
    --tn-bg-highlight:   #292e42;
    --tn-bg-popup:       #1f2335;

    --tn-comment:        #565f89;

    /* --icons-font: "Segoe Fluent Icons"; */
    --icons-font: "FiraCode Nerd Font", "FiraCode Nerd Font propo";
    --icons-font-native: "Segoe Fluent Icons";
    --icons-font-fallback: "JetBrainsMono NFP", "JetBrainsMono Nerd Font Propo";
    --system-font: "FiraCode Nerd Font", "FiraCode Nerd Font Propo";
}

/* Global Defaults */
* {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--system-font);
    color: var(--tn-fg);
}

/* Bar */
.yasb-bar {
    background-color: transparent;
    padding: 0px 8px;
}

/* Tooltip */
.tooltip {
    background-color: var(--yasb-tooltip-bg);
    border-radius: 4px;
    color: var(--yasb-fg);
    padding: 5px 10px;
    font-size: 12px;
    font-family: var(--system-font);
    font-weight: 600;
    margin-top: 4px;
    border: 1px solid var(--yasb-tooltip-border);
}

/* Context Menu */
.context-menu,
.context-menu .menu-checkbox {
    background-color: var(--yasb-bar-bg);
    padding: 4px 0px;
    font-family: var(--system-font);
    font-weight: 600;
    font-size: 12px;
    color: var(--yasb-fg);
}
.context-menu {
    border-radius: 8px;
    border: 1px solid var(--yasb-white-alpha-07);
}
.context-menu::right-arrow {
    width: 8px;
    height: 8px;
    padding-right: 24px;
}
.context-menu::item,
.context-menu .menu-checkbox {
    background-color: transparent;
    padding: 6px 12px;
    margin: 2px 6px;
    border-radius: 6px;
    min-width: 100px;
}
.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
    background-color: var(--yasb-white-alpha-10);
    color: #FFFFFF;
}
.context-menu::separator {
    height: 1px;
    background-color: #404040;
    margin: 4px 8px;
}
.context-menu::item:disabled {
    color: #666666;
    background-color: transparent;
}
.context-menu .menu-checkbox .checkbox {
    border: none;
    padding: 8px 16px;
    font-size: 12px;
    margin: 0;
    color: var(--yasb-fg);
    font-family: var(--system-font);
    font-weight: 600;
}
.context-menu .submenu::item:disabled {
    margin: 0;
    padding-left: 16px;
}
.context-menu .menu-checkbox .checkbox:unchecked {
    color: var(--yasb-fg);
}
.context-menu .menu-checkbox .checkbox::indicator {
    width: 12px;
    height: 12px;
    margin-left: 0px;
    margin-right: 8px;
}
.context-menu .menu-checkbox .checkbox::indicator:unchecked {
    background: #444444;
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox::indicator:checked {
    background: #4a90e2;
    border-radius: 2px;
}
.context-menu .menu-checkbox .checkbox:focus {
    outline: none;
}

/* Base Widget Styles */
.widget {
    background-color: var(--tn-bg);
    padding: 0px 6px;
    margin: 4px 2px;
    border: 2px solid var(--tn-fg);
    border-radius: 10px;
    min-width: 18px;
}

.widget .icon {
    font-size: 16px;
    font-weight: 400;
    color: var(--yasb-icon-fg);
    font-family: var(--icons-font);
}

.widget .label {
    color: var(--yasb-fg);
    font-weight: 600;
    padding-bottom: 2px;
}

.widget:hover {
    background-color: var(--tn-bg-highlight);
}

/* Universal styles */
.systray,
.cpu-widget,

.language-widget,
.brightness-widget,
.volume-widget,
.wifi-widget,
.settings-widget
{
    margin-left: 6px;
}
.systray,
.quick-launch-widget,

.language-widget,
.brightness-widget,
.microphone-widget,
.battery-widget,
.github-widget
{
    margin-right: 6px;
}

/* TOP BAR */

/* LEFT */

/* Home Menu */
.home-widget,
.home-widget .icon,
.home-widget .label
{
    color: var(--tn-cyan);
    border-color: var(--tn-cyan);
}
.home-widget {
    margin-right: 4px;
}
.home-widget .icon {
    padding-right: 2px;
}
.home-menu {
    background-color: var(--yasb-popup-bg);
}
.home-menu .menu-item {
    color: var(--yasb-fg);
    padding: 8px 48px 8px 16px;
    font-family: var(--system-font);
    font-weight: 600;
}
.home-menu .menu-item:hover {
    background-color: rgba(128, 130, 158, 0.15);
    color: #fff;
}
.home-menu .separator {
    max-height: 1px;
    background-color: rgba(128, 130, 158, 0.3);
}

/* Quick Launch */
.quick-launch-widget,
.quick-launch-widget .icon,
.quick-launch-widget .label
{
    color:        var(--tn-purple);
    border-color: var(--tn-purple);
}
.quick-launch-widget {
    margin-left: 4px;
}
.quick-launch-widget .icon {
    padding-right: 3px;
}
.quick-launch-popup .container {
    background-color: var(--yasb-popup-bg);
}
.quick-launch-popup .search {
    padding: 12px 16px;
    background-color: transparent;
    border-bottom: 1px solid var(--yasb-white-alpha-15);
}
.quick-launch-popup .search .loader-line {
    color: #449bff;
}
.quick-launch-popup .search .search-icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 18px;
    color: var(--yasb-fg);
    padding-right: 8px;
    min-width: 18px;
}
.quick-launch-popup .search .search-submit-icon {
    font-family: 'Segoe Fluent Icons';
    font-size: 18px;
    color: var(--yasb-fg);
    min-width: 18px;
}
.quick-launch-popup .search .search-input {
    background: transparent;
    border: none;
    color: var(--yasb-fg);
    font-size: 16px;
    font-family: var(--system-font);
    font-weight: 400;
    padding: 4px 0;
}
.quick-launch-popup .search .prefix {
    background: #2167d8;
    border-radius: 6px;
    color: #ffffff;
    padding: -2px 8px 0px 8px;
    margin-top: 2px;
    margin-right: 4px;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--system-font);
    max-height: 28px;
}
.quick-launch-popup .results {
    background: transparent;
    padding: 8px;
}
.quick-launch-popup .results-list-view {
    font-size: 14px;
    font-family: var(--system-font);
    font-weight: 600;
    color: var(--yasb-fg);
}
.quick-launch-popup .results-list-view .description {
    color: var(--yasb-fg-muted);
    font-size: 11px;
    font-family: var(--system-font);
    font-weight: 600;
}
.quick-launch-popup .results-list-view .separator {
    color: var(--yasb-fg-muted);
    font-size: 13px;
    font-family: var(--system-font);
    font-weight: 600;
    padding: 4px 0 4px 12px;
}
.quick-launch-popup .results-list-view::item {
    padding: 4px 12px;
    border-radius: 8px;
}
.quick-launch-popup .results-list-view::item:hover,
.quick-launch-popup .results-list-view::item:selected {
    background-color: rgba(128, 130, 158, 0.1);
}
.quick-launch-popup .results-empty-text {
    font-size: 24px;
    font-family: var(--system-font);
    color: rgb(255, 255, 255);
    padding-top: 8px;
}
.quick-launch-popup .preview {
    background: rgba(0, 0, 0, 0);
    border-left: 1px solid var(--yasb-white-alpha-06);
}
.quick-launch-popup .preview .preview-text {
    font-size: 13px;
    color: var(--yasb-white-alpha-85);
    padding: 8px 12px;
    font-family: var(--system-font);
    background-color: var(--yasb-white-alpha-03);
    border: none;
}
.quick-launch-popup .preview .preview-image {
    background-color: var(--yasb-white-alpha-03);
    padding: 8px 12px;
}
.quick-launch-popup .preview .preview-meta {
    padding: 6px 12px;
    border-top: 1px solid var(--yasb-white-alpha-06);
    font-family: var(--system-font);
}
.quick-launch-popup .preview .preview-meta .preview-title {
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: var(--system-font);
    margin-bottom: 10px;
    margin-left: -2px;
}
.quick-launch-popup .preview .preview-meta .preview-subtitle {
    font-size: 12px;
    color: var(--yasb-white-alpha-80);
    font-family: var(--system-font);
    padding-bottom: 1px;
}
.quick-launch-popup .preview.edit .preview-title {
    font-size: 13px;
    font-family: var(--system-font);
    font-weight: 600;
    color: #ffffff;
    padding: 8px 12px 4px 12px;
}
.quick-launch-popup .preview.edit .preview-line-edit {
    background: var(--yasb-white-alpha-06);
    border: 1px solid var(--yasb-white-alpha-10);
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-family: var(--system-font);
    padding: 6px 8px;
    margin: 0 12px;
}
.quick-launch-popup .preview.edit .preview-line-edit:focus {
    border-color: var(--yasb-white-alpha-30);
}
.quick-launch-popup .preview.edit .preview-text-edit {
    background: var(--yasb-white-alpha-06);
    border: 1px solid var(--yasb-white-alpha-10);
    border-radius: 4px;
    color: #ffffff;
    font-size: 13px;
    font-family: var(--system-font);
    padding: 6px 8px;
    margin: 0 12px;
}
.quick-launch-popup .preview.edit .preview-text-edit:focus {
    border-color: var(--yasb-white-alpha-30);
}
.quick-launch-popup .preview.edit .preview-actions {
    padding: 8px 12px;
}
.quick-launch-popup .preview.edit .preview-btn {
    background: rgb(45, 46, 48);
    border: none;
    border-radius: 4px;
    color: var(--yasb-white-alpha-80);
    font-size: 12px;
    font-family: var(--system-font);
    font-weight: 600;
    padding: 4px 16px;
}
.quick-launch-popup .preview.edit .preview-btn:hover {
    background: rgb(59, 60, 63);
}
.quick-launch-popup .preview.edit .preview-btn.save {
    background: rgb(12, 81, 190);
    color: #ffffff;
}
.quick-launch-popup .preview.edit .preview-btn.save:hover {
    background: rgb(19, 90, 204);
}

/* Komorebi Workspace */
.komorebi-workspaces,
.komorebi-workspaces:hover
{
    background-color: transparent;
    border: none;
}

.komorebi-workspaces .widget-container {
    background-color: transparent;
}

.komorebi-workspaces .ws-btn {
    background-color: var(--tn-bg);
    color: var(--tn-comment);
    border: 2px solid var(--tn-comment);
    border-radius: 10px;
    margin: 0 2px;
    padding: 6px 6px;
    outline: none;
    font-family: var(--system-font);
    font-weight: 600;
}
.komorebi-workspaces .ws-btn.populated {
    color:        var(--tn-fg);
    border-color: var(--tn-fg);
}
.komorebi-workspaces .ws-btn.active {
    color:        var(--tn-green1);
    border-color: var(--tn-green1);
}

.komorebi-workspaces .ws-btn:hover,
.komorebi-workspaces .ws-btn.populated:hover,
.komorebi-workspaces .ws-btn.active:hover
{
    background-color: var(--tn-bg-highlight);
}

/* CPU */
.cpu-widget,
.cpu-widget .icon,
.cpu-widget .label
{
    color:        var(--tn-purple);
    border-color: var(--tn-purple);
}
.cpu-widget .icon {
    padding-right: 5px;
}
.cpu-widget .label {
    padding-right: 4px;
}
.cpu-popup {
    background-color: var(--yasb-popup-bg);
    min-width: 400px;
    max-width: 400px;
}
.cpu-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.cpu-popup .header .text {
    font-size: 16px;
    font-family: var(--system-font);
}
.cpu-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: 'Segoe Fluent Icons';
    border: none;
    padding: 6px;
    color: var(--yasb-fg-muted);
}
.cpu-popup .header .pin-btn:hover {
    color: var(--yasb-fg-muted);
}
.cpu-popup .header .pin-btn.pinned {
    color: var(--yasb-fg-muted);
}
.cpu-popup .graph-container {
    background: transparent;
    min-height: 64px;
}
.cpu-popup .cpu-graph {
    color: #0f6bff;
}
.cpu-popup .cpu-graph-grid {
    color: var(--yasb-white-alpha-05);
}
.cpu-popup .graph-title {
    font-size: 12px;
    color: var(--yasb-fg-muted);
    font-family: var(--system-font);
    padding: 0px 0px 4px 14px;
}
.cpu-popup .stats {
    background: transparent;
    padding: 16px;
}
.cpu-popup .stats .stat-item {
    background-color: var(--yasb-white-alpha-03);
    border: 1px solid var(--yasb-white-alpha-04);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px;
}
.cpu-popup .stats .stat-label {
    font-size: 13px;
    color: var(--yasb-fg-muted);
    font-family: var(--system-font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}
.cpu-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--yasb-fg);
    font-family: var(--system-font);
    padding: 0 4px 12px 4px;
}

/* GPU */
.gpu-widget,
.gpu-widget .icon,
.gpu-widget .label
{
    color:        var(--tn-blue1);
    border-color: var(--tn-blue1);
}
.gpu-widget .icon {
    font-size: 16px;
    padding-right: 4px;
}
.gpu-widget .label {
    padding-right: 8px;
}

/* Memory */
.memory-widget,
.memory-widget .icon,
.memory-widget .label
{
    color:        var(--tn-green);
    border-color: var(--tn-green);
}
.memory-widget .icon {
    padding-right: 5px;
}
.memory-widget .label {
    padding-right: 6px;
}
.memory-popup {
    background-color: var(--yasb-popup-bg);
    min-width: 400px;
    max-width: 400px;
}
.memory-popup .header {
    background: transparent;
    padding: 12px 16px;
}
.memory-popup .header .text {
    font-size: 16px;
    font-family: var(--system-font);
}
.memory-popup .header .pin-btn {
    font-size: 14px;
    background: transparent;
    font-family: 'Segoe Fluent Icons';
    border: none;
    padding: 6px;
    color: var(--yasb-fg-muted);
}
.memory-popup .header .pin-btn:hover {
    color: var(--yasb-fg-muted);
}
.memory-popup .header .pin-btn.pinned {
    color: var(--yasb-fg-muted);
}
.memory-popup .graph-container {
    background: transparent;
    min-height: 64px;
}
.memory-popup .memory-graph {
    color: #0f6bff;
}
.memory-popup .memory-graph-grid {
    color: var(--yasb-white-alpha-05);
}
.memory-popup .graph-title {
    font-size: 12px;
    color: var(--yasb-fg-muted);
    font-family: var(--system-font);
    padding: 0px 0px 4px 14px;
}
.memory-popup .stats {
    background: transparent;
    padding: 16px;
}
.memory-popup .stats .stat-item {
    background-color: var(--yasb-white-alpha-03);
    border: 1px solid var(--yasb-white-alpha-04);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px;
}
.memory-popup .stats .stat-label {
    font-size: 13px;
    color: var(--yasb-fg-muted);
    font-family: var(--system-font);
    font-weight: 400;
    padding: 6px 4px 2px 4px;
}
.memory-popup .stats .stat-value {
    font-size: 20px;
    font-weight: 700;
    color: var(--yasb-fg);
    font-family: var(--system-font);
    padding: 0 4px 12px 4px;
}

/* Disk */
.disk-widget,
.disk-widget .icon,
.disk-widget .label
{
    color:        var(--tn-blue);
    border-color: var(--tn-blue);
}
.disk-widget .icon {
    padding-left:  2px;
    padding-right: 4px;
}
.disk-widget .label {
    padding-right: 6px;
}

/* CENTER */

/* Clock */
.clock-widget {
    border-color: var(--tn-cyan);
}
.clock-widget .label {
    color: var(--tn-cyan);
}
.clock-widget .icon.alarm {
    color: var(--yasb-accent);
    padding-left: 4px;
}
.clock-popup.alarm,
.clock-popup.timer,
.clock-popup.calendar {
    min-width: 460px;
    background-color: var(--yasb-popup-bg);
}
.clock-popup.calendar .calendar-table,
.clock-popup.calendar .calendar-table::item {
    background-color: rgba(17, 17, 27, 0);
    color: rgba(162, 177, 196, 0.85);
    font-family: var(--system-font);
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.clock-popup.calendar .calendar-table::item:selected {
    color: #000000;
    font-weight: bold;
    background-color: var(--yasb-accent);
    border-radius: 12px;
}
.clock-popup.calendar .day-label {
    margin-top: 20px;
}
.clock-popup.calendar .day-label,
.clock-popup.calendar .month-label,
.clock-popup.calendar .year-label,
.clock-popup.calendar .date-label {
    font-family: var(--system-font);
    font-size: 16px;
    font-weight: 700;
    min-width: 180px;
    max-width: 180px;
}
.clock-popup.calendar .month-label {
    font-weight: normal;
}
.clock-popup.calendar .year-label {
    font-weight: normal;
}
.clock-popup.calendar .date-label {
    font-size: 88px;
    font-weight: 900;
    margin-top: -20px;
}
.clock-popup.timer .clock-popup-container,
.clock-popup.alarm .clock-popup-container {
    padding: 16px;
    background-color: var(--yasb-dialog-bg);
}
.clock-popup.timer .clock-popup-footer,
.clock-popup.alarm .clock-popup-footer {
    padding: 16px;
    background-color: var(--yasb-dialog-surface)
}
.clock-popup .clock-label-timer {
    font-size: 13px;
    font-family: var(--system-font);
    font-weight: 600;
}
.clock-popup .clock-input-time {
    font-size: 48px;
    background-color: transparent;
    border: none;
    font-family: var(--system-font);
    font-weight: 600;
}
.clock-popup .clock-input-time.colon {
    padding-bottom: 8px;
}
.clock-popup .button {
    border-radius: 4px;
    font-family: var(--system-font);
    font-weight: 600;
    font-size: 13px;
    min-height: 28px;
    min-width: 64px;
    margin: 4px 0;
    background-color: var(--yasb-white-alpha-10);
}
.clock-popup .button.save,
.clock-popup .button.start,
.clock-popup .button.delete,
.clock-popup .button.cancel {
    min-width: 120px;
}
.clock-popup .button.save,
.clock-popup .button.start {
    background-color: var(--yasb-accent);
    color: var(--yasb-accent-fg);
    margin-right: 8px;
}
.clock-popup .button.save:hover,
.clock-popup .button.start:hover {
    background-color: var(--yasb-accent-hover)
}
.clock-popup .button.is-alarm-enabled {
    background-color: var(--yasb-accent);
    color: var(--yasb-accent-fg);
}
.clock-popup .button.is-alarm-enabled:hover {
    background-color: var(--yasb-accent-hover);
}
.clock-popup .button.is-alarm-disabled {
    background-color: var(--yasb-white-alpha-20);
}
.clock-popup .button.day {
    background-color: var(--yasb-white-alpha-10);
    max-height: 20px;
    min-height: 20px;
}
.clock-popup .button.day:checked {
    background-color: var(--yasb-accent);
    color: var(--yasb-accent-fg);
}
.clock-popup .button.quick-option {
    background-color: var(--yasb-white-alpha-10);
}
.clock-popup .button.quick-option:checked {
    background-color: var(--yasb-accent);
    color: var(--yasb-accent-fg);
}
.clock-popup .button:disabled {
    background-color: rgba(100, 100, 100, 0.2);
    color: rgba(150, 150, 150, 0.7);
}
.clock-popup .alarm-input-title {
    font-size: 14px;
    font-family: var(--system-font);
    font-weight: 600;
    color: #d2d6e2;
    background-color: var(--yasb-white-alpha-10);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
    outline: none;
    min-width: 300px;
}
.clock-popup .alarm-input-title:focus {
    border: 1px solid var(--yasb-accent);
}
.active-alarm-window {
    background-color: var(--yasb-popup-bg);
    max-width: 500px;
    min-width: 500px;
    padding: 32px;
}
.active-alarm-window .alarm-title-icon {
    font-size: 88px;
    color: #ffffff;
    margin-bottom: 16px;
}
.active-alarm-window .alarm-title {
    font-size: 24px;
    font-family: var(--system-font);
    font-weight: 600;
    color: #ffffff;
    max-width: 500px;
    min-width: 500px;
}
.active-alarm-window .alarm-info {
    font-size: 16px;
    font-family: var(--system-font);
    font-weight: 600;
    color: #b2b6c0;
    margin-bottom: 32px;
}
.active-alarm-window .button {
    border-radius: 4px;
    font-family: var(--system-font);
    font-weight: 600;
    font-size: 13px;
    min-height: 36px;
    min-width: 100px;
    margin: 0 4px;
    background-color: var(--yasb-white-alpha-06);
}

/* RIGHT */

/* GitHub */
.github-widget .icon {
    padding-right: 2px;
}
.github-menu {
    background-color: var(--yasb-popup-bg);
    height: 700px;
    min-height: 0;
    min-width: 500px;
}
.github-menu .header {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--system-font);
    padding: 12px 0 8px 12px;
    color: white;
}
.github-menu .footer {
    font-size: 12px;
    padding: 8px 8px 8px 8px;
}
.github-menu .footer .label {
    color: #9399b2;
    font-family: var(--system-font);
}
.github-menu .footer .label:hover {
    color: #b5b9c7;
}
.github-menu .contents {
    background-color: transparent;
}
.github-menu .contents .section-header {
    font-family: var(--system-font);
    font-size: 16px;
    margin: 16px 16px 8px 16px;
    color: #dbe0f1;
}
.github-menu .contents .section {
    margin: 0 12px 0 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--yasb-white-alpha-10);
    border-radius: 14px;
}
.github-menu .contents .item {
    padding: 10px 0;
}
.github-menu .contents .item .comment-count {
    font-family: var(--system-font);
    padding-right: 12px;
    font-weight: 600;
    color: #747d86;
}
.github-menu .contents .item .comment-icon {
    font-size: 14px;
    padding-top: 4px;
    padding-right: 6px;
    color: #747d86;
    font-family: var(--icons-font);
}
.github-menu .contents .item.first {
    border-top: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.github-menu .contents .item.last {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.github-menu .contents .item .title,
.github-menu .contents .item .description {
    color: #9aa0a5;
    font-family: var(--system-font);
}
.github-menu .contents .item .title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1px;
}
.github-menu .contents .item .description {
    font-size: 12px;
    font-weight: 600;
    margin-top: 1px;
    margin-left: 1px;
    color: #878c91;
}
.github-menu .contents .item.new .title,
.github-menu .contents .item.new .description {
    color: #ffffff;
}
.github-menu .contents .item .icon {
    font-size: 18px;
    color: #848992;
    min-width: 36px;
    max-width: 36px;
    padding-left: 8px;
    font-family: var(--icons-font-fallback);
}
.github-menu .contents .item .icon.issue {
    color: #3fb950;
}
.github-menu .contents .item .icon.issue.closed {
    color: #ab7df8;
}
.github-menu .contents .item .icon.pullrequest {
    color: #3fb950;
}
.github-menu .contents .item .icon.pullrequest.merged {
    color: #ab7df8;
}
.github-menu .contents .item .icon.pullrequest.draft {
    color: #848992;
}
.github-menu .contents .item .icon.discussion {
    color: #848992;
}
.github-menu .contents .item .icon.discussion.answered {
    color: #3fb950;
}
.github-menu .contents .item .icon.release {
    color: #848992;
}
.github-menu .contents .item .icon.checksuite {
    color: #f38ba8;
}

/* System Tray */
.systray {
    padding-right: 5px;
    border-color: var(--tn-blue);
}
.systray .button {
    border-radius: 4px;
    padding: 2px;
    background: transparent;
    border: none;
    outline: none;
}
.systray .button.drag-over {
    background: var(--yasb-white-alpha-40);
}
.systray .pinned-container.drop-target {
    background: var(--yasb-white-alpha-10);
}
.systray .unpinned-visibility-btn {
    border-radius: 4px;
    height: 20px;
    width: 16px;
    border: none;
    outline: none;
    padding-right: 0;
    font-family: var(--icons-font);
}
.systray .unpinned-visibility-btn:checked {
    background: transparent;
}
.systray-popup .button.drag-over {
    background-color: var(--yasb-white-alpha-20);
}
.systray .pinned-container.pinned-container.drop-target {
    background-color: var(--yasb-white-alpha-10);
}
.systray-popup {
    background-color: var(--yasb-popup-bg);
    padding: 4px;
}
.systray-popup .button {
    padding: 10px;
    border-radius: 6px;
}

/* Language*/
.language-widget {
    border-color: var(--tn-purple);
}
.language-widget .label {
    color: var(--tn-purple);
}

/* Brightness */
.brightness-widget .icon {
    padding-right: 4px;
}
.brightness-widget .label {
    padding-right: 4px;
}

/* Volume */
.volume-widget,
.volume-widget .icon,
.volume-widget .label
{
    color:        var(--tn-yellow);
    border-color: var(--tn-yellow);
}
.volume-widget .icon {
    font: 16px var(--icons-font-native);
}
.volume-widget .label {
    padding-right: 6px;
}
.audio-menu {
    background-color: var(--yasb-popup-bg);
    min-width: 300px;
}
.audio-menu .system-volume-container .volume-slider {
    border: none;
}
.audio-menu .audio-container .device {
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.audio-menu .audio-container .device.selected {
    background-color: var(--yasb-white-alpha-08);
}
.audio-menu .toggle-apps {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 24px;
    min-width: 24px;
    border-radius: 4px;
    font-family: var(--icons-font);
}
.audio-menu .toggle-apps.expanded {
    background-color: var(--yasb-white-alpha-10);
}
.audio-menu .apps-container {
    padding: 8px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: var(--yasb-white-alpha-06);
}
.audio-menu .apps-container .app-volume .app-icon-container {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 6px;
    margin-right: 8px;
}

/* Microphone */
.microphone-widget,
.microphone-widget .icon,
.microphone-widget .label
{
    color:        var(--tn-yellow);
    border-color: var(--tn-yellow);
}
.microphone-widget .icon {
    font-size: 16px;
}
.microphone-widget .label {
    padding-right: 6px;
}
.microphone-widget .icon.no-device {
    color: #a3a3a3;
    font-size: 14px;
}
.microphone-menu {
    background-color: var(--yasb-popup-bg);
    min-width: 300px;
}
.microphone-menu .system-volume-container .volume-slider {
    border: none;
}
.microphone-menu .microphone-container .device {
    background-color: transparent;
    border: none;
    padding: 6px 8px 6px 4px;
    margin: 2px 0;
    font-size: 12px;
    border-radius: 4px;
}
.microphone-menu .microphone-container .device.selected {
    background-color: var(--yasb-white-alpha-08);
}

/* Wi-Fi */
.wifi-widget,
.wifi-widget .icon,
.wifi-widget .label
{
    color:        var(--tn-cyan);
    border-color: var(--tn-cyan);
}
.wifi-widget .label {
    padding-left:  1px;
    padding-right: 3px;
}

/* Bluetooth */
.bluetooth-widget,
.bluetooth-widget .icon,
.bluetooth-widget .label
{
    color:        var(--tn-cyan);
    border-color: var(--tn-cyan);
}
.bluetooth-widget .icon {
    padding-left:  5px;
    padding-right: 2px;

    font-size: 18px;
}
.bluetooth-widget .label {
    padding-left:  3px;
    padding-right: 2px;
}

/* Battery */
.battery-widget,
.battery-widget .icon,
.battery-widget .label
{
    color:        var(--tn-blue);
    border-color: var(--tn-blue);
}
.battery-widget {
    padding-left:  7px;
    padding-right: 9px;
}
.battery-widget .icon {
    padding-left:  8px;
    padding-right: 2px;
}
.battery-widget .label.status-critical {
    color: var(--tn-red);
}
.battery-widget .label.status-low {
    color: var(--tn-orange);
}
.battery-widget .label.status-medium {
    color: var(--tn-fg);
}
.battery-widget .label.status-high {
    color: var(--tn-blue);
}
.battery-widget .label.status-medium {
    color: var(--tn-green);
}

/* Custom: Settings */
.settings-widget,
.settings-widget .icon,
.settings-widget .label
{
    color:        var(--tn-blue);
    border-color: var(--tn-blue);
}
.settings-widget {
    padding-right: 7px;
}
.settings-widget .icon {
    padding-right: 1px;
}

/* Notifications */
.notification-widget,
.notification-widget .icon
{
    color:        var(--tn-green1);
    border-color: var(--tn-green1);
}
.notification-widget .icon {
    padding-right: 2px;
}

/* Power Menu */
.power-menu-widget {
    padding-left:  6px;
    padding-right: 7px;

    border-color: var(--tn-red);
}
.power-menu-widget .icon {
    padding-right: 2px;

    color: var(--tn-red);
}
.power-menu-widget .label {
    color: var(--tn-red);
}
.power-menu-compact {
    min-width: 260px;
    background-color: var(--yasb-popup-bg);
}
.power-menu-compact .profile-info {
    padding: 24px 0 24px 0;
}
.power-menu-compact .profile-info .profile-username {
    font-size: 16px;
    font-weight: 600;
    color: var(--yasb-fg);
    font-family: var(--system-font);
    margin-top: 4px;
}
.power-menu-compact .profile-info .profile-account-type {
    font-size: 12px;
    color: var(--yasb-accent-fg);
    font-weight: 600;
    margin-top: 8px;
    font-family: var(--system-font);
    background-color: var(--yasb-accent);
    padding: 2px 6px 3px 6px;
    border-radius: 4px;
}
.power-menu-compact .profile-info .profile-email {
    font-size: 12px;
    color: var(--yasb-fg-muted);
    margin-top: 2px;
    font-family: var(--system-font);
}
.power-menu-compact .manage-accounts {
    font-size: 12px;
    background-color: var(--yasb-white-alpha-08);
    font-family: var(--system-font);
    font-weight: 600;
    padding: 3px 12px 4px 12px;
    color: var(--yasb-fg);
    margin-top: 16px;
    border-radius: 4px;
    border: 1px solid var(--yasb-white-alpha-10);
}
.power-menu-compact .buttons {
    margin: 0 12px 12px 12px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--yasb-white-alpha-10);
}
.power-menu-compact .button {
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.power-menu-compact .button.hover {
    background-color: var(--yasb-white-alpha-03);
}
.power-menu-compact .button.lock.hover {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.power-menu-compact .button.shutdown.hover {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.power-menu-compact .button .icon {
    font-size: 16px;
    font-weight: 400;
    color: var(--yasb-fg-muted);
    padding-right: 10px;
    min-width: 20px;
}
.power-menu-compact .button .label {
    font-size: 13px;
    font-weight: 500;
    font-family: var(--system-font);
    color: var(--yasb-fg-muted);
}
.power-menu-compact .icon.hover,
.power-menu-compact .label.hover {
    color: var(--yasb-fg);
}

/* BOTTOM BAR */

/* LEFT */

/* Active Windows Title */
.active-window-widget .icon {
    padding-right: 4px;
    padding-bottom: 0;
}

/* RIGHT */

/* Media */
.media-widget {
    padding: 0;
    margin: 0;
    min-width: 300px;
}
.media-widget .label {
    padding: 0px 8px;
}
.media-widget .btn {
    color: #9498a8;
    padding: 0 4px;
    margin: 0;
    font-family: 'Segoe Fluent Icons';
    font-weight: 400;
}
.media-widget .btn:hover {
    color: #babfd3;
}
.media-widget .btn.play {
    font-size: 16px;
}
.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
    color: #4e525c;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}
.media-widget .progress-bar {
    max-height: 2px;
    background-color: transparent;
    margin-left: 5px;
    border: none;
}
.media-widget .progress-bar::chunk {
    background-color: #0078D4ee;
    border-radius: 2px;
}
.media-menu {
    min-width: 440px;
    max-width: 440px;
    background-color: rgba(31, 39, 49, 0.5);
}
.media-menu .title,
.media-menu .artist,
.media-menu .source {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    font-family: var(--system-font);
}
.media-menu .artist {
    font-size: 13px;
    color: #6c7086;
    margin-top: 0px;
}
.media-menu .source {
    font-size: 11px;
    color: #000;
    border-radius: 3px;
    background-color: #4cc2ff;
    padding: 2px 4px;
    font-weight: 600;
    font-family: var(--system-font);
    margin-top: 10px;
}
.media-menu .btn {
    font-family: 'Segoe Fluent Icons';
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2px 0px 2px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 20px;
}
.media-menu .btn.prev {
    margin-left: 10px;
}
.media-menu .btn.play {
    background-color: var(--yasb-white-alpha-10);
    font-size: 20px;
}
.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
    color: #4e525c;
    background-color: rgba(0, 0, 0, 0);
}
.media-menu .playback-time {
    font-size: 13px;
    font-family: var(--system-font);
    color: #7f849c;
    margin-top: 16px;
    min-width: 100px;
}
.media-menu .progress-slider {
    height: 10px;
    margin: 5px 4px;
    border-radius: 3px;
}
.media-menu .progress-slider::groove {
    background: transparent;
    height: 2px;
    border-radius: 3px;
    background: var(--yasb-white-alpha-10);
}
.media-menu .progress-slider::groove:hover {
    background: transparent;
    height: 6px;
    border-radius: 3px;
    background: var(--yasb-white-alpha-20);
}
.media-menu .progress-slider::sub-page {
    background: white;
    border-radius: 3px;
    height: 4px;
}
.media-menu .app-volume-container {
    background-color: var(--yasb-white-alpha-05);
    padding: 8px 6px;
    border-radius: 12px;
    margin-left: 10px;
}
.media-menu .app-volume-container .volume-slider::groove {
    background: var(--yasb-white-alpha-10);
    width: 2px;
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::add-page {
    background: white;
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::groove:hover {
    background: var(--yasb-white-alpha-10);
    width: 6px;
    border-radius: 3px;
}
.media-menu .app-volume-container .volume-slider::sub-page {
    background: var(--yasb-white-alpha-10);
    border-radius: 3px;
}
.media-menu .app-volume-container .mute-button,
.media-menu .app-volume-container .unmute-button {
    font-size: 16px;
    color: #ffffff;
    font-family: 'Segoe Fluent Icons';
    margin-top: 4px;
}
.media-menu .app-volume-container .unmute-button {
    color: #a0a0a0;
}
